*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 15px;
    border-bottom: 0.5px solid gray;
    
}
#nav--logo{
padding: 15px 0;
animation: slide 2.5s;
}
@keyframes slide{
    0%{padding: 0;}
    100%{padding: 15px 0;}
}
#nav--link{
 padding: 10px 0;
 animation: slides 2.5s;  
}
@keyframes slides{
    0%{padding: 0;}
    100%{padding: 10px 0;}
}
#nav--link ul{
    display: flex;
    list-style: none;
    gap: 30px;
    padding-top: 20px;
    
}

#nav--link ul li a{
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
    color: rgb(68, 68, 68);
}
#nav--button{
    padding-top: 20px;
    animation: slider 2.5s;
}
@keyframes slider{
    0%{padding-top: 0;}
    100%{padding-top: 20px;}
}
#nav--button button{
    padding: 10px 25px;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    background-color: white;
    
}
#nav--button button:hover {
    box-shadow: 5px 10px 15px #b5b5b5;
}
.text{
    
    font-family: sans-serif;
    color: rgb(86, 86, 86);
    text-align: center;
    margin: auto;
    padding: 50px;
}
.text h1{
  font-size: 100px;
  padding: 10px; 
  font-weight: 400; 
}
.text p{
    font-size: 20px;
    line-height: 1.5;
}

.carousel-container {
    position: relative;
    width: 80%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: auto;
}

.carousel-indicators {
    position: absolute;
    top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: #b5b5b5;
    border-radius: 50%;
    cursor: pointer;
    gap: 30px;
    transition: background-color 0.3s ease;
}

.indicator.active {
    background-color: black;
    transform: scale(1.2);
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
    gap: 30px;
    justify-content: center; 
    transform: translateX(0); 
}

.carousel-slide {
    width: 250px;
    height: 250px;
    flex-shrink: 0;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    transform: scale(0.9); 
    transition: transform 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-slide.active {
    transform: scale(1.2); 
}

.carousel-slide img {
    width: 120%;
    height: 100%;
    object-fit: cover;
}